body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #8CB9BD;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: #FFB534;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.welkom {
    color: #333; /* Change the text color */
    font-size: 2em; /* Change the font size */
    text-align: center; /* Center the text */
    
}